---
http_interactions:
- request:
    method: get
    uri: https://staging.textkernel.nl/match/soap/processDocument?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue Jun 12 13:49:07 CEST 2018
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://home.textkernel.nl/sourcebox/soap/documentProcessor" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://home.textkernel.nl/sourcebox/soap/documentProcessor" name="ProcessDocumentImplService">
        <wsp:Policy wsu:Id="ProcessDocumentImplPortBinding_MTOM_Policy">
        <ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
        </wsp:Policy>
        <types>
        <xsd:schema>
        <xsd:import namespace="http://home.textkernel.nl/sourcebox/soap/documentProcessor" schemaLocation="https://staging.textkernel.nl:443/match/soap/documentProcessor?xsd=1"/>
        </xsd:schema>
        </types>
        <message name="processDocumentAdvanced">
        <part name="parameters" element="tns:processDocumentAdvanced"/>
        </message>
        <message name="processDocumentAdvancedResponse">
        <part name="parameters" element="tns:processDocumentAdvancedResponse"/>
        </message>
        <message name="ProcessDocumentException">
        <part name="fault" element="tns:ProcessDocumentException"/>
        </message>
        <message name="processDocument">
        <part name="parameters" element="tns:processDocument"/>
        </message>
        <message name="processDocumentResponse">
        <part name="parameters" element="tns:processDocumentResponse"/>
        </message>
        <message name="processURLAtomic">
        <part name="parameters" element="tns:processURLAtomic"/>
        </message>
        <message name="processURLAtomicResponse">
        <part name="parameters" element="tns:processURLAtomicResponse"/>
        </message>
        <portType name="ProcessDocumentInterface">
        <operation name="processDocumentAdvanced">
        <input wsam:Action="http://home.textkernel.nl/sourcebox/soap/documentProcessor/ProcessDocumentInterface/processDocumentAdvancedRequest" message="tns:processDocumentAdvanced"/>
        <output wsam:Action="http://home.textkernel.nl/sourcebox/soap/documentProcessor/ProcessDocumentInterface/processDocumentAdvancedResponse" message="tns:processDocumentAdvancedResponse"/>
        <fault message="tns:ProcessDocumentException" name="ProcessDocumentException" wsam:Action="http://home.textkernel.nl/sourcebox/soap/documentProcessor/ProcessDocumentInterface/processDocumentAdvanced/Fault/ProcessDocumentException"/>
        </operation>
        <operation name="processDocument">
        <input wsam:Action="http://home.textkernel.nl/sourcebox/soap/documentProcessor/ProcessDocumentInterface/processDocumentRequest" message="tns:processDocument"/>
        <output wsam:Action="http://home.t[...]
- request:
    method: post
    uri: https://staging.textkernel.nl/match/soap/documentProcessor
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://home.textkernel.nl/sourcebox/soap/documentProcessor"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:processURLAtomic></tns:processURLAtomic></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"processURLAtomic"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Last-Modified:
      - Tue Jun 12 13:49:24 CEST 2018
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><S:Fault
        xmlns:ns4="http://www.w3.org/2003/05/soap-envelope"><faultcode>S:Server</faultcode><faultstring>java.lang.NullPointerException</faultstring></S:Fault></S:Body></S:Envelope>
  recorded_at: Tue, 12 Jun 2018 11:49:25 GMT
[...]
- request:
    method: post
    uri: https://staging.textkernel.nl/match/soap/documentProcessor
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://home.textkernel.nl/sourcebox/soap/documentProcessor"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:processURLAtomic><account
        xsi:nil="true"/><username xsi:nil="true"/><password xsi:nil="true"/><url xsi:nil="true"/></tns:processURLAtomic></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"processURLAtomic"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Last-Modified:
      - Tue Jun 12 13:50:10 CEST 2018
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><S:Fault
        xmlns:ns4="http://www.w3.org/2003/05/soap-envelope"><faultcode>S:Server</faultcode><faultstring>java.lang.NullPointerException</faultstring></S:Fault></S:Body></S:Envelope>
  recorded_at: Tue, 12 Jun 2018 11:50:11 GMT
recorded_with: VCR 4.0.0
